<div class="signinpage">
      <center><p id="join">Savor It</p></center>
      <center><p id="welcomeback"> Welcome Back </p></center>
      <%= form_tag  do %>
        <center><div class="">
          <%= label_tag :email, nil, class:"signinheader" %>
          <%= text_field_tag(:email,nil, class:'signinform')%>
        </div></center>
        <center><div class="">
          <%= label_tag :password, nil, class:"signinheader"%>
          <%= password_field_tag :password,nil, class:'signinform'%>
        </div></center>
        <center><div>
        <%= submit_tag "Sign In", class: "signinlink" %>
      </div></center>
      <% end %>
  </div>
