<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1> Hi Zaki Ahmed </h1>
    <p>
      You have a SavorIt food delivery for <%= @current_user.first_name %> <%= @current_user.last_name %>.
      Please call <%= @post.location%> and order a <%= @post.name%> and deliver to <%= @current_user.address %>
    </p>
  </body>
</html>
