
<div class="signuppage">
    <% if @user.errors.any? %>
      <%= pluralize(@user.errors.count, 'error') %> prevented your form from success.
      <ul class="mdl-list">
        <% @user.errors.full_messages.each do |msg| %>
          <li class="errorsss"><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <center><p id="join">Savor it</p></center>
    <center><p id="welcomeback"> Join Today </p></center>
      <%= form_for @user do |f| %>
      <center><div class="">
        <%= f.label :first_name, class:"signinheader" %>
        <%= f.text_field :first_name, placeholder:"Name", class:'signinform' %>
      </div></center>
      <center><div class="">
        <%= f.label :last_name, class:"signinheader" %>
        <%= f.text_field :last_name,placeholder:"User Name", class:'signinform' %>
      </div></center>
      <center><div class="">
        <%= f.label :user_name, class:"signinheader" %>
        <%= f.text_field :user_name,placeholder:"User Name", class:'signinform' %>
      </div></center>
      <center><div class="">
        <%= f.label :email, class:"signinheader" %>
        <%= f.text_field :email, placeholder:"Email", class:'signinform'%>
      </div></center>
       <center><div class="">
          <%= f.label :password, class:"signinheader" %>
          <%= f.password_field :password, placeholder:"Password", class:'signinform' %>
        </div></center>

        <center><div class="attachmentfield">
          <%= f.label :photo, class:"signinheader" %>
          <%= f.attachment_field :photo, class:'signinform' %>
        </div></center>

        <center><div class="attachmentfield">
          <%= f.label :address, class:"signinheader" %>
          <%= f.text_field :address, class:'signinform' %>
        </div></center>

      <center>  <div>
        <%= f.submit "Sign Up", class: "signinlink" %>
          <% end %>
        </div></center>
      </div>
