<nav id="navfeed">
 <strong><%= link_to "Savor it", posts_path, class:"title"%></strong>
<div class="icons"><%= link_to post_path(id: @current_user.id) do %><i class="fa fa-camera-retro fa-2x"></i><%end%></div>
<p class="explore"><i class="fa fa-compass fa-lg" aria-hidden="true"></i>
<%= link_to "Sign Out", sign_out_path, class:"signout" %>

</p>

</nav>
<div id="image-cropper">
​
  <div class="row">
    <div class="col-xs-9">
      <div class="cropit-preview"></div>
      <input type="range" class="cropit-image-zoom-input" />
    </div>
    <div class="col-xs-3">
      <input type="file" class="cropit-image-input" />

      <button class="cropit-save">Save</button>
    </div>
  </div>
​
​
</div>
​  <%= form_for @post do |f| %>
  <%= f.text_area :text, as: :text, class:"newpost", placeholder:"describe it"%>
  <%= f.text_field :culture, class:"newpost", placeholder:"What Kind of Food is it?"%>
  <%= f.text_field :location, class:"newpost", placeholder:"whered ya get this?Restaurant or Home"%>
<%= f.submit %>
<%end %>
