<nav id="navfeed">

  <div class="feed-title"><strong>Savorit</strong>
  </div>
  <div class="feed-subtitle">
    Feed The Craving
  </div>
</nav>

<div id="footer">

  <div class="icons">
  <center>  <%= link_to posts_path(id: @current_user.id) do %><i class="fa fa-home fa-2x" aria-hidden="true"></i><%end%></center>
  </div>

  <div class="icons">
  <center> <%= link_to explore_path do%><i class="fa fa-compass fa-2x" aria-hidden="true"></i><%end%></center>
  </div>

  <div class="icons">
    <center> <%= link_to new_post_path(id: @current_user.id) do %><i class="fa fa-camera-retro fa-2x"></i><%end%></center>
  </div>

  <div class="icons">
  <center>   <%= link_to cart_path(id: @current_user.id) do %><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><%end %></center>
  </div>

    <div class="icons">
      <center> <%= link_to sign_out_path do %>
      <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i><%end%></center>
    </div>
</div>
<div class="profilecontainer">
<div class="profileheader">
  <center>
<p><%= image_tag attachment_url(@user, :photo, :fill, 50, 50, format: "jpg"), class:"pp" %>

<%= @user.first_name %>
<%= @user.last_name %>
@<%= @user.user_name %>
<% if @current_user && @current_user.following?(@user)%>
<div class="followbtn"><em><%= link_to "Following", unfollow_path(id: @user.id), class:'follows'%></em></div>
<% elsif @current_user %>
<div class="followbtn"><em><center><%= link_to "Follow", follow_path(id: @user.id), class:'follows'%></center></em></div>
<% end %>
</p>
</center>
</div>

<div class="profilepiccontainer">
<% @user.posts.each do |f| %>
<div class="profileimages">
<%= image_tag attachment_url(f, :photo, :fill, 300, 370, format: "jpg"), class:"feedpic" %>
</div>
<%end %>
</div>
</div>
