<nav id="navfeed">

  <div class="title"><strong>Savorit</strong>
  </div>
  <div class="subtitle">
    Feed The Craving
  </div>
</nav>

<div id="footer">

  <div class="icons">
  <center>  <%= link_to posts_path(id: @current_user.id) do %><i class="fa fa-home fa-2x" aria-hidden="true"></i><%end%></center>
  </div>

  <div class="icons">
  <center> <%= link_to explore_path do%><i class="fa fa-compass fa-2x" aria-hidden="true"></i><%end%></center>
  </div>

  <div class="icons">
    <center> <%= link_to new_post_path(id: @current_user.id) do %><i class="fa fa-camera-retro fa-2x"></i><%end%></center>
  </div>

  <div class="icons">
  <center>   <%= link_to cart_path(id: @current_user.id) do %><i class="fa fa-shopping-cart fa-2x" aria-hidden="true"></i><%end %></center>
  </div>

    <div class="icons">
      <center> <%= link_to sign_out_path do %>
      <i class="fa fa-sign-out fa-2x" aria-hidden="true"></i><%end%></center>
    </div>
</div>
<h1> Shopping Cart </h1>
<ul>

  <li>
    <strong>Total Price: </strong>

    $<%= @order.total_price %>

  </li>
</ul>
<div class="cartitems">
<div class="carthead">Items</div>
<% @order.order_items.each do |f| %>
<div class="cartinfo">
<%= f.post.name %>
<%= f.quantity %> at <%= f.price %>
 <%= link_to 'Remove Item', remove_from_cart_path(post_id: f.post_id), method: :delete, class:"removeitem"%><p>
Total Price:  <%= number_to_currency f.total_price %>
</p>
</div>
<%= link_to 'Ready to Eat?', checkout_path, class:"checkout" %>
</div>
<%end %>
